@charset "UTF-8";
html {
  scroll-behavior: smooth;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  html {
    font-size: 4.2666666667vw;
  }
}

body {
  background-color: #F3F7FF;
  font-family: "source-han-serif-jp-subset", sans-serif;
  color: #313131;
  line-height: 2.25;
  letter-spacing: -0.02em;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

a:hover {
  opacity: 0.8;
}

main {
  position: relative;
  z-index: 1;
}

.container {
  width: 100%;
  max-width: 790px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .container {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.birth-wrapper {
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.only-sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .only-sp {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .only-pc {
    display: none;
  }
}

.fade-in {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
  transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
  transition: opacity 0.6s ease, transform 0.6s ease;
  transition: opacity 0.6s ease, transform 0.6s ease, -webkit-transform 0.6s ease;
}

.fade-in.is-visible {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.color-theme {
  color: #ed1c24;
}

.weight-bold {
  font-weight: 700;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* a 要素のリセット */
a {
  text-decoration: none;
  color: inherit;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default 
article > * + * {
  margin-top: 1em;
}
*/
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.lp1 h2 {
  border-top-color: transparent;
  border-top: none !important;
  font-family: "source-han-serif-jp-subset", sans-serif !important;
  background: transparent;
  padding: 0;
  border-bottom: none;
}
.lp1 h3 {
  border-bottom: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-bottom: 0;
  font-family: "source-han-serif-jp-subset", sans-serif !important;
}
.lp1 h3::after {
  display: none;
}

.vk-mobile-nav-menu-btn {
  display: none !important;
}

body {
  background-color: #fff;
}

.birth-wrapper {
  width: 100%;
}

.birth-header {
  background-image: url(../image/bg-01.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem 0 1.5rem;
  position: relative;
  z-index: 2;
}

.birth-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background: -webkit-gradient(linear, left top, right top, from(#896328), color-stop(44.8%, #f8f0aa), to(#c49735));
  background: linear-gradient(90deg, #896328 0%, #f8f0aa 44.8%, #c49735 100%);
  z-index: 1;
}

.birth-header__text {
  width: 89.4666666667%;
  margin-right: auto;
  margin-left: auto;
}

.birth-fv {
  background-image: url(../image/bg-02.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.birth-fv__contentes {
  padding: 1.25rem 0;
}

.birth-fv__ceo-image {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
  width: 50.6666666667%;
}

.birth-fv__ribbon {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
}

.birth-key-message {
  padding: 1.875rem 0;
  background-image: url(../image/bg-04.webp);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

.birth-key-message__contentes {
  width: 81.3333333333%;
  margin-right: auto;
  margin-left: auto;
}

.birth-head {
  background: -webkit-gradient(linear, left top, right top, from(#1f0000), color-stop(14.5%, #860000), color-stop(46.7%, #de1100), color-stop(79%, #b40000), to(#540000));
  background: linear-gradient(90deg, #1f0000 0%, #860000 14.5%, #de1100 46.7%, #b40000 79%, #540000 100%);
  padding: 1.875rem 0 0;
  position: relative;
}

.birth-head::before,
.birth-head::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(#ffcb00), color-stop(25.2%, #ffffd2), color-stop(59.6%, #bd4b00), color-stop(87.1%, #ffe934), to(#ffffd2));
  background: linear-gradient(90deg, #ffcb00 0%, #ffffd2 25.2%, #bd4b00 59.6%, #ffe934 87.1%, #ffffd2 100%);
  z-index: 1;
}

.birth-head::before {
  top: 0.625rem;
}

.birth-head::after {
  bottom: 0.625rem;
}

.birth-head__inner {
  text-align: center;
}

.birth-head__contentes {
  width: 96.1333333333%;
  margin-right: auto;
  margin-left: auto;
}

.birth-description {
  padding: 50px 0;
  background-image: url(../image/bg-04.webp);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
@media screen and (max-width: 767px) {
  .birth-description {
    padding: 3.125rem 0;
  }
}

.birth-description__contentes {
  width: 84.5333333333%;
  margin-right: auto;
  margin-left: auto;
}

.birth-ribbon {
  height: 55px;
  background: -webkit-gradient(linear, left top, right top, from(#1f0000), color-stop(14.5%, #860000), color-stop(46.7%, #de1100), color-stop(79%, #b40000), to(#540000));
  background: linear-gradient(90deg, #1f0000 0%, #860000 14.5%, #de1100 46.7%, #b40000 79%, #540000 100%);
  position: relative;
}
@media screen and (max-width: 767px) {
  .birth-ribbon {
    height: 3.4375rem;
  }
}

.birth-ribbon::before,
.birth-ribbon::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffcb00), color-stop(25.2%, #ffffd2), color-stop(59.6%, #bd4b00), color-stop(87.1%, #ffe934), to(#ffffd2));
  background: linear-gradient(180deg, #ffcb00 0%, #ffffd2 25.2%, #bd4b00 59.6%, #ffe934 87.1%, #ffffd2 100%);
  z-index: 1;
}

.birth-ribbon::before {
  top: 0.625rem;
}

.birth-ribbon::after {
  bottom: 0.625rem;
}

.birth-ribbon__contentes {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
  width: 20.5333333333%;
  z-index: 2;
}

.birth-info {
  padding: 5rem 0;
  background-image: url(../image/bg-04.webp);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
@media screen and (max-width: 767px) {
  .birth-info {
    padding: 3.125rem 0;
  }
}

.birth-info__contentes {
  width: 84.4%;
  margin-right: auto;
  margin-left: auto;
}

.birth-info__item:not(:last-child) {
  margin-bottom: 2.5rem;
}

.birth-info__item--map-image {
  margin-top: 1.3125rem;
}

.birth-info__item--map-image iframe {
  aspect-ratio: 2/1;
  margin-bottom: 0;
}

.birth-info__item--map-btn {
  margin-top: 1.125rem;
}

.birth-info__item--map-btn a {
  display: block;
}

.birth-info__item--map-info-second {
  margin-top: 2rem;
  max-width: 92%;
  margin-right: auto;
  margin-left: auto;
}

.birth-form {
  background: #2a2a2a;
  padding: 5rem 0 6.25rem;
}

.birth-form__description {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 767px) {
  .birth-form__description {
    font-size: 0.875rem;
  }
}

.birth-footer {
  background-image: url(../image/bg-08.webp);
  background-size: cover;
  background-position: center;
  background-repeat: repeat-x;
  position: relative;
  padding: 2.375rem 0 1.875rem;
}

.birth-footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background: -webkit-gradient(linear, left top, right top, from(#896328), color-stop(44.8%, #f8f0aa), to(#c49735));
  background: linear-gradient(90deg, #896328 0%, #f8f0aa 44.8%, #c49735 100%);
  z-index: 1;
}

.birth-footer__contentes {
  width: 54.9333333333%;
  margin-right: auto;
  margin-left: auto;
}

.wpcf7 {
  padding: 0;
  background: transparent;
  margin: 0 !important;
  border: none;
  font-size: 16px;
}

.hidden-fields-container {
  display: none;
}

.form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.form-item:not(:first-child) {
  padding-top: 0.625rem;
}

.form-item:not(:last-child) {
  padding-bottom: 0.625rem;
}

.form-item__label {
  width: 100%;
  text-align: left;
  font-weight: 700;
  font-size: 1.375rem;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
}

.form-item__label--category {
  display: inline-block;
  margin-left: 0.6875rem;
  font-size: 0.8125rem;
  padding: 0.125rem 0.625rem 0.1875rem;
  border-radius: 0.125rem;
  line-height: 1;
}

.form-item__label--category-must {
  background-color: #998043;
  color: #ffffff;
}

.form-item__label--category-any {
  background-color: #aaaaaa;
  color: #ffffff;
}

.form-item__input {
  padding: 1rem 1rem;
  border: 1px solid #D8E1EA;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 500;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  color: #313131;
  width: 100%;
}

.form-item__input.form-item__input--textarea {
  min-height: 14rem;
}

.form-item__input.form-item__input--privacy-policy {
  min-height: 12rem;
}

.form-item__input.form-item__input--checkbox {
  border: none;
  padding: 0;
  background: transparent;
}

.form-item__input.form-item__input--radio {
  border: none;
  padding: 0;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wpcf7-list-item {
  margin-left: 0;
}

.wpcf7-list-item-label {
  color: #ffffff;
}

.form-item__label + .wpcf7-form-control-wrap {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wpcf7-list-item-label::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 2px;
  background: #ffffff;
  left: 0;
}

.form-item__input--radio .wpcf7-list-item-label {
  padding-left: 2.375rem;
  font-size: 1rem;
  position: relative;
  font-weight: 500;
}

.form-item__input--radio .wpcf7-list-item-label::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 0.5rem;
  height: 0.875rem;
  border: solid transparent;
  border-width: 0 3px 3px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 50%;
  left: 0.5rem;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.form-item__input--radio input:checked + .wpcf7-list-item-label::after {
  border-color: #998043;
}

.form-item.form-item--submit {
  padding: 0;
  margin-bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

.form-item__submit-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  cursor: pointer;
  position: relative;
  max-width: 21.625rem;
  width: 100%;
}

.form-item__input.form-item__input--submit {
  color: #313131;
  background: -webkit-gradient(linear, left top, right top, from(#f0c864), color-stop(50.9%, #ffffec), to(#f0c864));
  background: linear-gradient(90deg, #f0c864 0%, #ffffec 50.9%, #f0c864 100%);
  border: 2px solid #ffffff;
  line-height: 1;
  font-size: 1rem;
  padding: 0.625rem 1.25rem;
  border-radius: 0;
  text-align: center;
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-item__submit-content::after {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 36.83px;
  width: 17.42px;
  height: 8.25px;
  z-index: 1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17.42 8.25'%3E%3Cpath fill='%ED1C24' d='M13.29,8.25l-1.31-1.28,1.92-1.92H0v-1.83h13.91l-1.9-1.92,1.31-1.28,4.1,4.12-4.13,4.13Z'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-item__submit-content .wpcf7-spinner {
  position: absolute;
  bottom: 101%;
  right: 0;
  margin: 0;
}

.form-item__submit-content:hover .form-item__input--submit {
  opacity: 0.7;
}

.wpcf7-response-output {
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .form-item__input--privacy-policy {
    width: 100%;
  }
}