@charset "UTF-8";
html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Noto Serif JP", serif;
  color: #222;
  line-height: 2.25;
  letter-spacing: -0.02em;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

a:hover {
  opacity: 0.8;
}

main {
  position: relative;
  z-index: 1;
}

.container {
  width: 100%;
  max-width: 790px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .container {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.birth-wrapper {
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.only-sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .only-sp {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .only-pc {
    display: none;
  }
}

.fade-in {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
  transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
  transition: opacity 0.6s ease, transform 0.6s ease;
  transition: opacity 0.6s ease, transform 0.6s ease, -webkit-transform 0.6s ease;
}

.fade-in.is-visible {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.color-theme {
  color: #008F54;
}

.weight-bold {
  font-weight: 700;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* a 要素のリセット */
a {
  text-decoration: none;
  color: inherit;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default 
article > * + * {
  margin-top: 1em;
}
*/
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.lp1 h2 {
  border-top-color: transparent;
  border-top: none !important;
  font-family: "Noto Serif JP", serif !important;
  background: transparent;
  padding: 0;
  border-bottom: none;
}
.lp1 h3 {
  border-bottom: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-bottom: 0;
  font-family: "Noto Serif JP", serif !important;
}
.lp1 h3::after {
  display: none;
}

.vk-mobile-nav-menu-btn {
  display: none !important;
}

.lp-width-container {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}

/* ===
MV 
=== */
#lp2 .mv {
  background-image: url(https://taiyo-kumagaya.com/wp-new/wp-content/uploads/2025/12/google-cta-image-01.webp);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: relative;
}
#lp2 .mv__top-area {
  position: relative;
  padding-top: 10.6578947368%;
  padding-bottom: 10.2631578947%;
  z-index: 1;
  overflow: hidden;
}
#lp2 .mv__top-area::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 137.3684210526%;
  z-index: -1;
  height: 100%;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
}
#lp2 .mv__area-content {
  width: 76.8421052632%;
  margin-right: auto;
  margin-left: auto;
}
#lp2 .mv__main-copy {
  width: 88.1578947368%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.25em;
}
#lp2 .mv__google-contents {
  width: 63.8157894737%;
  margin-left: auto;
  margin-top: 5em;
  background: rgba(255, 255, 255, 0.85);
  padding-top: 6.1855670103%;
  padding-bottom: 6.1855670103%;
  padding-right: 9.0721649485%;
  text-align: right;
}
#lp2 .mv__google-contents img {
  width: 76.4948453608%;
  margin-left: auto;
}
#lp2 .mv__ceo-image {
  position: absolute;
  bottom: 2.1875em;
  left: 0;
  width: 50.1315789474%;
  z-index: 1;
}
#lp2 .mv__batches {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.25em;
  padding-top: 10.5263157895%;
  padding-top: 3.9473684211%;
  width: 100%;
  position: relative;
  z-index: 2;
}
#lp2 .mv__batch {
  width: 27.6315789474%;
}

.menu {
  background: rgba(255, 240, 125, 0.2);
  padding: 120px 0 60px;
}
.menu__inner {
  max-width: 760px;
  margin: 0 auto;
  padding: 0 44px;
}
.menu__title {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 96px;
  letter-spacing: 3px;
  text-align: center;
  color: #6A432A;
  margin-bottom: 16px;
}
.menu__icon {
  width: 68px;
  height: 12px;
  margin: 0 auto 60px;
  background: url('data:image/svg+xml;utf8,<svg width="68" height="12" viewBox="0 0 68 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 6L12 0V12L0 6Z" fill="%23A3D402"/><path d="M28 6L16 12V0L28 6Z" fill="%23A3D402"/><path d="M40 6L52 0V12L40 6Z" fill="%231EBA04"/><path d="M68 6L56 12V0L68 6Z" fill="%231EBA04"/></svg>') center no-repeat;
  background-size: contain;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}
.menu__card {
  position: relative;
  background: white;
  border-radius: 16px;
  -webkit-box-shadow: 0px 5px 30px 0px rgba(83, 40, 13, 0.2);
          box-shadow: 0px 5px 30px 0px rgba(83, 40, 13, 0.2);
  overflow: visible;
}
.menu__card--popular {
  padding-top: 83px;
}
.menu__card--popular .menu__card-popular-badge {
  position: absolute;
  top: 45px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #008F54;
  border-radius: 80px;
  padding: 10px 50px;
  z-index: 2;
  width: calc(100% - 36px);
  max-width: 636px;
}
.menu__card--popular .menu__card-popular-badge .menu__badge-text {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 57px;
  letter-spacing: 1.6px;
  color: white;
  text-align: center;
  white-space: nowrap;
}
.menu__card--popular .menu__badge-icon {
  position: absolute;
  top: -38px;
  left: 0;
  width: 108px;
  height: 138px;
  background: url('data:image/svg+xml;utf8,<svg width="108" height="138" viewBox="0 0 108 138" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="54" cy="22" r="22" fill="%23FFD700"/><text x="54" y="32" font-family="Arial" font-size="28" font-weight="bold" fill="%23222" text-anchor="middle">1</text><path d="M24 31L0 107L54 85L108 107L84 31H24Z" fill="%23FFD700"/></svg>') center no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 8px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #222;
}
.menu__card-badge {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #6A432A;
  border-radius: 80px;
  padding: 10px 50px;
  z-index: 2;
}
.menu__card-badge .menu__badge-text {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 57px;
  letter-spacing: 1.6px;
  color: white;
  white-space: nowrap;
}
.menu__card-content {
  padding: 93px 44px 55px;
  position: relative;
}
.menu__card-arrow {
  position: absolute;
  top: 71px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(180deg);
          transform: translateX(-50%) rotate(180deg);
  width: 31px;
  height: 22px;
}
.menu__card-arrow::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml;utf8,<svg width="31" height="22" viewBox="0 0 31 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 22L2 11L15.5 0L29 11L15.5 22Z" fill="%23A3D402"/></svg>') center no-repeat;
  background-size: contain;
}
.menu__card-title {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 2px;
  text-align: center;
  background: linear-gradient(212.296deg, #A3D402 1.9874%, #1EBA04 56.688%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 30px;
}
.menu__card-image {
  width: 100%;
  height: 389px;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 30px;
}
.menu__card-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.menu__card-text {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 48px;
  letter-spacing: 1.5px;
  color: #222;
}
.menu__cta {
  margin-top: 120px;
  padding: 60px 0 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.menu__cta-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.menu__cta-title-text {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 1.6px;
  color: #222;
  white-space: nowrap;
}
.menu__cta-arrow {
  width: 26px;
  height: 39px;
  background: url('data:image/svg+xml;utf8,<svg width="26" height="39" viewBox="0 0 26 39" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 0L0 19.5L13 39L26 19.5L13 0Z" fill="%23A3D402"/></svg>') center no-repeat;
  background-size: contain;
}
.menu__cta-arrow--right {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}
.menu__cta-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 584px;
  height: 106px;
  background: -webkit-gradient(linear, left top, left bottom, from(#A3D402), to(#1EBA04));
  background: linear-gradient(180deg, #A3D402 0%, #1EBA04 100%);
  border-radius: 100px;
  -webkit-box-shadow: 0px 8px 0px 0px #008F54;
          box-shadow: 0px 8px 0px 0px #008F54;
  text-decoration: none;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
.menu__cta-button:hover {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 0px 4px 0px 0px #008F54;
          box-shadow: 0px 4px 0px 0px #008F54;
}
.menu__cta-icon {
  width: 54px;
  height: 52px;
  background: url('data:image/svg+xml;utf8,<svg width="54" height="52" viewBox="0 0 54 52" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M46.8 22.3c0-11.2-11.2-20.3-25-20.3S-3.2 11.1-3.2 22.3c0 10 8.9 18.4 20.9 20.1.8.2 1.9.5 2.2 1.2.3.6.2 1.5.1 2.1 0 0-.3 1.7-.4 2.1-.1.6-.5 2.4 2.1 1.3 2.6-1.1 14-8.3 19.1-14.2 3.5-3.8 5.2-7.7 5.2-12.3z" fill="white"/></svg>') center no-repeat;
  background-size: contain;
}
.menu__cta-text {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 34px;
  letter-spacing: 1.7px;
  color: white;
  text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .menu {
    padding: 60px 0 30px;
  }
  .menu__inner {
    padding: 0 16px;
  }
  .menu__title {
    font-size: 40px;
    line-height: 64px;
    letter-spacing: 2px;
    margin-bottom: 12px;
  }
  .menu__icon {
    margin-bottom: 40px;
  }
  .menu__list {
    gap: 40px;
  }
  .menu__card--popular {
    padding-top: 60px;
  }
  .menu__card--popular .menu__card-popular-badge {
    top: 30px;
    padding: 8px 30px;
  }
  .menu__card--popular .menu__card-popular-badge .menu__badge-text {
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 1px;
  }
  .menu__card--popular .menu__badge-icon {
    width: 70px;
    height: 90px;
    font-size: 18px;
  }
  .menu__card-badge {
    padding: 8px 30px;
  }
  .menu__card-badge .menu__badge-text {
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 1px;
  }
  .menu__card-content {
    padding: 60px 20px 30px;
  }
  .menu__card-arrow {
    top: 45px;
  }
  .menu__card-title {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 1.4px;
    margin-bottom: 20px;
  }
  .menu__card-image {
    height: 250px;
    margin-bottom: 20px;
  }
  .menu__card-text {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.9px;
  }
  .menu__cta {
    margin-top: 60px;
    padding: 40px 0 60px;
    gap: 16px;
  }
  .menu__cta-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
  }
  .menu__cta-title-text {
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 1.1px;
    text-align: center;
  }
  .menu__cta-arrow {
    width: 20px;
    height: 30px;
  }
  .menu__cta-arrow--left {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .menu__cta-arrow--right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .menu__cta-button {
    height: 80px;
    gap: 12px;
  }
  .menu__cta-icon {
    width: 40px;
    height: 40px;
  }
  .menu__cta-text {
    font-size: 24px;
    letter-spacing: 1.2px;
  }
}