@use "../global" as *;

// バースデーパーティーページ
body {
  background-color: #fff;
}

// 共通クラス
.birth-wrapper {
  width: 100%;
}


// ヘッダー
.birth-header {
  background-image: url(../image/bg-01.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: rem(16) 0 rem(24);
  position: relative;
  z-index: 2;
}
.birth-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: rem(8);
  background: linear-gradient(90deg, #896328 0%, #f8f0aa 44.8%, #c49735 100%);
  z-index: 1;
}

.birth-header__text {
  width: calc(671 / 750 * 100%);
  margin-right:auto;
  margin-left:auto;
}

// ファーストビュー
.birth-fv {
  background-image: url(../image/bg-02.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.birth-fv__contentes {
  padding: rem(20) 0;
}

.birth-fv__ceo-image {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(20%);
  width: calc(380 / 750 * 100%);
}

.birth-fv__ribbon {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
}

// バースデー背景
// .birth-bg-wrapper {
//   background-image: url(../image/bg-04.webp);
//   background-size: contain;
//   background-position: center;
//   background-repeat: repeat;
// }

.birth-key-message {
  padding: rem(30) 0;
  background-image: url(../image/bg-04.webp);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

.birth-key-message__contentes {
  width: calc(610 / 750 * 100%);
  margin-right:auto;
  margin-left:auto;
}

// 見出しセクション
.birth-head {
  background: linear-gradient(90deg, #1f0000 0%, #860000 14.5%, #de1100 46.7%, #b40000 79%, #540000 100%);
  padding: rem(30) 0 0;
  position: relative;
}
.birth-head::before,
.birth-head::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, #ffcb00 0%, #ffffd2 25.2%, #bd4b00 59.6%, #ffe934 87.1%, #ffffd2 100%);
  z-index: 1;
}
.birth-head::before {
  top: rem(10);
}
.birth-head::after {
  bottom: rem(10);
}

.birth-head__inner {
  text-align: center;
}

.birth-head__contentes {
  width: calc(721 / 750 * 100%);
  margin-right:auto;
  margin-left:auto;
}

// 説明セクション
.birth-description {
  padding: 50px 0;
  background-image: url(../image/bg-04.webp);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  @include mq(md) {
    padding: rem(50) 0;
  }
}


.birth-description__contentes {
  width: calc(634 / 750 * 100%);
  margin-right:auto;
  margin-left:auto;
}

// リボンセクション
.birth-ribbon {
  height: 55px;
  background: linear-gradient(90deg, #1f0000 0%, #860000 14.5%, #de1100 46.7%, #b40000 79%, #540000 100%);
  position: relative;
  @include mq(md) {
    height: rem(55);
  }
}

.birth-ribbon::before,
.birth-ribbon::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(180deg, #ffcb00 0%, #ffffd2 25.2%, #bd4b00 59.6%, #ffe934 87.1%, #ffffd2 100%);
  z-index: 1;
}
.birth-ribbon::before {
  top: rem(10);
}
.birth-ribbon::after {
  bottom: rem(10);
}



.birth-ribbon__contentes {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-15%);
  width: calc(154 / 750 * 100%);
  z-index: 2;
}

// 開催情報
.birth-info {
  padding: rem(80) 0;
  background-image: url(../image/bg-04.webp);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  @include mq(md) {
    padding: rem(50) 0;
  }
}

.birth-info__contentes {
  width: calc(633 / 750 * 100%);
  margin-right:auto;
  margin-left:auto;
}
.birth-info__item:not(:last-child) {
  margin-bottom: rem(40); 
}

.birth-info__item--map-image {
  margin-top: rem(21);
}
.birth-info__item--map-image iframe {
  aspect-ratio: 2 / 1;
  margin-bottom: 0;
}
.birth-info__item--map-btn {
  margin-top: rem(18);
}
.birth-info__item--map-btn a {
  display: block;
}
.birth-info__item--map-info-second {
  margin-top: rem(32);
  max-width: 92%;
  margin-right:auto;
  margin-left:auto;
}

// フォームセクション
.birth-form {
  background: #2a2a2a;
  padding: rem(80) 0 rem(100);
}


.birth-form__description{
  color: #fff;
  font-size: rem(24);
  font-weight: $bold;
  text-align: center;
  margin-bottom: rem(40);
  @include mq(md) {
    font-size: rem(14);
  }
}

// フッター
.birth-footer {
  background-image: url(../image/bg-08.webp);
  background-size: cover;
  background-position: center;
  background-repeat: repeat-x;
  position: relative;
  padding: rem(38) 0 rem(30);
}
.birth-footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: rem(8);
  background: linear-gradient(90deg, #896328 0%, #f8f0aa 44.8%, #c49735 100%);
  z-index: 1;
}


.birth-footer__contentes {
  width: calc(412 / 750 * 100%);
  margin-right:auto;
  margin-left:auto;
}



// フォーム

.wpcf7 {
  padding: 0;
  background: transparent;
  margin: 0 !important;
  border: none;
  font-size: 16px;
}
.hidden-fields-container {
  display: none;
}
.form-item {
  display: flex;
  margin-bottom: 24px;
  flex-direction: column;
  gap: rem(16);
}
.form-item:not(:first-child) {
  padding-top: rem(10);
  // border-top: 1px solid #D8E1EA;
}
.form-item:not(:last-child) {
  padding-bottom: rem(10);
}
.form-item__label {
  width: 100%;
  text-align: left;
  font-weight: $bold;
  font-size: rem(22);
  color: $color-white;
  display: flex;
  align-items: center;
  line-height: 1;
}
.form-item__label--category {
  display: inline-block;
  margin-left: rem(11);
  font-size: rem(13);
  padding: rem(2) rem(10) rem(3);
  border-radius: rem(2);
  line-height: 1;
}
.form-item__label--category-must {
  background-color: #998043;
  color: $color-white;
}
.form-item__label--category-any {
  background-color: #aaaaaa;
  color: $color-white;
}
.form-item__input {
  padding: rem(16) rem(16);
  border: 1px solid #D8E1EA;
  border-radius: 4px;
  font-size: rem(16);
  font-weight: $medium;
  box-sizing: border-box;
  background-color: $color-white;
  color: $color-black;
  width: 100%;
}
.form-item__input.form-item__input--textarea {
  min-height: rem(224);
}
.form-item__input.form-item__input--privacy-policy {
  min-height: rem(192);
}
.form-item__input.form-item__input--checkbox {
  border: none;
  padding: 0;
  background: transparent;
}
.form-item__input.form-item__input--radio {
  border: none;
  padding: 0;
  background: transparent;
  display: flex;
  gap: rem(16);
  flex-wrap: wrap;
}

.wpcf7-list-item {
  margin-left: 0;
}
.wpcf7-list-item-label {
  color: $color-white;
}
.form-item__label + .wpcf7-form-control-wrap {
  flex-grow: 1;
}

.wpcf7-list-item-label::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  width: rem(24);
  height: rem(24);
  border-radius: 2px;
  background: $color-white;
  left: 0;
}
.form-item__input--radio .wpcf7-list-item-label {
  padding-left: rem(38);
  font-size: rem(16);
  position: relative;
  font-weight: 500;
}
.form-item__input--radio .wpcf7-list-item-label::after {
  content:"";
  position: absolute;
  display: inline-block;
  width: rem(8);
  height: rem(14);
  border:solid transparent;
  border-width: 0 3px 3px 0;
  box-sizing: border-box;
  top: 50%;
  left: rem(8);
  transform: translateY(-50%) rotate(45deg);
}
.form-item__input--radio input:checked + .wpcf7-list-item-label::after {
  border-color: $color-gold;
}
.form-item.form-item--submit {
  padding: 0;
  margin-bottom: 0;
  justify-content: center;
  align-items: center;
  border: none;
}
.form-item__submit-content {
  display: flex;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  position: relative;
  max-width: rem(346);
  width: 100%;
}
.form-item__input.form-item__input--submit {
  color: $color-black;
  background: linear-gradient(90deg, #f0c864 0%, #ffffec 50.9%, #f0c864 100%);
  border: 2px solid $color-white;
  line-height: 1;
  font-size: rem(16);
  padding: rem(10) rem(20);
  border-radius: 0;
  text-align: center;
  font-weight: $bold;
  transition: all 0.3s ease;
}
.form-item__submit-content::after {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  transform: translateY(-50%);
  right: 36.83px;
  width: 17.42px;
  height: 8.25px;
  z-index: 1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17.42 8.25'%3E%3Cpath fill='%ED1C24' d='M13.29,8.25l-1.31-1.28,1.92-1.92H0v-1.83h13.91l-1.9-1.92,1.31-1.28,4.1,4.12-4.13,4.13Z'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s ease;
}
.form-item__submit-content .wpcf7-spinner {
  position: absolute;
  bottom: 101%;
  right: 0;
  margin: 0;
}
.form-item__submit-content:hover .form-item__input--submit {
  opacity: 0.7;
}

.wpcf7-response-output {
  color: $color-white;
}

@include mq(md) {
  .form-item__input--privacy-policy {
    width: 100%;
  }
}