@use "../global" as *;

.lp-width-container {
  max-width: 800px;
  margin-right:auto;
  margin-left:auto;
  padding: 0 20px;
}

/* ===
MV 
=== */
#lp2 {
  font-size: 16px;
  @media screen and (max-width:800px) {
    font-size: calc(16 / 800 * 100vw);
  }
  .mv {
    background-image: url(https://taiyo-kumagaya.com/wp-new/wp-content/uploads/2025/12/mv-bg-image.webp);
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    position: relative;
  }
  .mv__top-area {
    position: relative;
    padding-top: calc(81 / $maxwidth * 100%); 
    padding-bottom: calc(78 / $maxwidth * 100%); 
    z-index: 1;
    overflow: hidden;
  }
  .mv__top-area::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(1044 / $maxwidth * 100%);
    z-index: -1;
    height: 100%;
    background-color: #FFFCE5;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15) ;
  }

  .mv__area-content {
    width: calc(584 / $maxwidth * 100%);
    margin-right:auto;
    margin-left:auto;
  }
  .mv__main-copy {
    width: calc(670 / $maxwidth * 100%);
    margin-right:auto;
    margin-left:auto;
    margin-top: calc(20 / 16 * 1em);
  }
  .mv__google-contents {
    width: calc(485 / $maxwidth * 100%);
    margin-left: auto;
    margin-top: calc(80 / 16 * 1em);
    background: rgba(255, 255, 255, 0.85);
    padding-top: calc(30 / 485 * 100%);
    padding-bottom: calc(30 / 485 * 100%);
    padding-right: calc(44 / 485 * 100%);
    text-align: right;
  }
  .mv__google-contents img {
    width: calc(371 / 485 * 100%);
    margin-left: auto;
    margin-right: 0;
  }
  .mv__ceo-image {
    position: absolute;
    bottom: calc(35 / 16 * 1em);
    left: 0;
    width: calc(381 / $maxwidth * 100%);
    z-index: 1;
  }
  .mv__batches {
    display: flex;
    justify-content: center;
    gap: calc(20 / 16 * 1em);
    padding-top: calc(80 / $maxwidth * 100%);
    padding-bottom: calc(30 / $maxwidth * 100%);
    width: 100%;
    position: relative;
    z-index: 2;
  }
  .mv__batch {
    width: calc(210 / $maxwidth * 100%);
  }
  
  .mini-cta {
    background-color: $color-theme;
    padding-top: calc(20 / $maxwidth * 100%);
    padding-bottom: calc(20 / $maxwidth * 100%);
  }
  .mini-cta__micro-copy {
    display: flex;
    justify-content: center;
    gap: calc(20 / 16 * 1em);
    align-items: center;
    padding-bottom: rem(20);
  }
  .mini-cta__micro-copy-accent {
    width: calc(22 / $maxwidth * 100%);
  }
  .mini-cta__micro-copy-text {
    font-size: rem(30);
    font-weight: $bold;
  }
  .mini-cta__btn-contents {
    display: flex;
    justify-content: center;
    gap: rem(20);
  }
  .mini-cta__btn {
    width: rem(326);
  }
  .mini-cta__btn .btn {
    width: 100%;
    display: block;
    border-radius: rem(70);
    border: 2px solid $color-white;
    font-weight: $bold;
    color: $color-white;
    border-radius: 70px;
    border: 2px solid #FFF;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: rem(37);
    padding-bottom: rem(24);
  }
  .mini-cta__btn .btn-line {
    background: linear-gradient(180deg, #A3D402 0%, #1EBA04 74.52%);
  }
  .mini-cta__btn .btn-tel {
    background: linear-gradient(180deg, #FAC921 6.25%, #F94204 76.92%);
  }
  .mini-cta__btn .btn-hukidasi {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(262 / 365 * 100%);
    padding-top: rem(2);
    padding-bottom: rem(2);
    background-color: $color-white;
    border-radius: 40px;
    border-width: 2px;
    border-style: solid;
    left: 50%;
    top: 0;
    transform: translate(-50%, -40%);
    font-size: rem(26);
  }
  .mini-cta__btn .btn-hukidasi::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 17px;
    z-index: 1;
  } 
  .mini-cta__btn .btn-hukidasi::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 17px;
    background-color: $color-white;
    z-index: 2;
  } 

  .mini-cta__btn .btn-tel .btn-hukidasi::after {
    background-color: $color-orange;
  }
  .mini-cta__btn .btn-line .btn-hukidasi::after {
    background-color: $color-theme;
  }
  .mini-cta__btn .btn-tel .btn-hukidasi {
    border-color: $color-orange;
    color: $color-orange;
  }
  .mini-cta__btn .btn-line .btn-hukidasi {
    border-color: $color-theme;
    color: $color-theme;
  }

}