@use "sass:math";

// ブレイクポイント
$breakpoints: (
  md: 767,
  lg: 959,
);

// メディアクエリー
$mediaquerys: (
  md: "screen and (max-width: #{map-get($breakpoints,'md')}px)",
  lg: "screen and (max-width: #{map-get($breakpoints,'lg')}px)",
);

// @include mq(){}で書くとブレークポイントが反映される（初期値はmd）
@mixin mq($mediaquery: md) {
  @media #{map-get($mediaquerys, $mediaquery)} {
    @content;
  }
}

// remへの計算式（16pxを基準としている。10pxを基準とする場合は16を10に変更する）
@function rem($pixels) {
  @return math.div($pixels, 16) * 1rem;
}

// 単位を除去
@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return math.div($number, $number * 0 + 1);
  }
  @return $number;
}

// vw換算
@function vw($window_width, $font_size) {
  @return math.div($font_size, $window_width) * 100vw;
}

// フォントファミリー, "", 
$base-font-family:  "source-han-serif-jp-subset", sans-serif;
$second-font-family: "Noto Serif JP", serif;

// フォントウェイト
$w-black : 900;
$bold : 700;
$medium : 500;
$normal : 400;
$light : 300;

// カラーパレット
$color-black: #313131;
$color-white: #ffffff;
// プライマリーブルー（テーマカラー）
$color-theme: #ed1c24;
// アクセントレッド
$color-gold: #998043;
// セクション背景用ライトブルー
$color-bg: #F3F7FF;
// テキスト用メイングレー
$color-main_gray: #000;

// レイアウト幅
$inner: 750px;

// パディング設定
$padding-pc: 20px;
$padding-sp: 16px;

// ————————————————————————
// グラデーション定義

// 背景用グラデーション（セクション）
$gradient-bg-section: linear-gradient(
  0deg,
  rgba(223,235,250,0) 0%,
  rgba(223,235,250,1) 100%
);

// “エンジニア”テキスト用グラデーション（水平方向）
$gradient-text-engineer: linear-gradient(
  72deg,
  rgba(223,235,250,0) 0%,
  rgba(223,235,250,1) 100%
);
// テーマ共通グラデーション（90度）
$gradient-freedge: linear-gradient(
  90deg,
  #1056AB 0%,
  #007EE5 100%
);